<template>
  <div class="content">
    <div class="container-fluid navbar-menu">
      <div class="header-navbar">
        <Header />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-12 menu"><Menu /></div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Header from "../components/AppHeader.vue";
import Menu from "../components/AppMenu.vue";
export default {
  name: "Default",
  components: {
    Header,
    Menu,
  },
};
</script>

<style scoped>
.content {
  min-height: 100vh;
  width: 100%;
}
.navbar-menu {
  max-height: 100px;
  height: 9vh;
  background-color: black;
}
.main {
  min-height: 80vh;
}
.background-content {
  background-color: #9b9999;
}
.main {
  min-height: 80vh;
}
.menu {
  background-color: rgb(239, 239, 239);
}
.background-content {
  background-color: #9b9999;
}
.search {
  float: right;
  width: 1100px;
}
.bt-search {
  text-align: center;

  padding-bottom: 15px;
}
</style>
