<template>
  <div class="col-md-10 col- p-3 menu">
    <div class="card">
      <div v-if="blogs.length == 0">
        <h4>Không co du lieu!</h4>
      </div>

      <div class="card-header">List Blog</div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="col-md-1 text-center" style="width: 50px">
              id
            </th>
            <th scope="col" class="col-md-2 text-center">Tin</th>
            <th scope="col-3">Loai</th>
            <th scope="col-3">Trang thai</th>
            <th scope="col-3">Vi tri</th>
            <th scope="col-3">Ngay Public</th>
            <th scope="col" class="col-md-1 text-center">Edit</th>
            <th scope="col-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="blog in blogs" :key="blog.id" class="text-center">
            <th scope="row">{{ blog.id }}</th>
            <td>{{ blog.title }}</td>
            <td>{{ getCategory(blog.category) }}</td>
            <td>{{ blog.public ? "yes" : "no" }}</td>
            <td>{{ getPlace(blog.position) }}</td>
            <td>{{ blog.data_pubblic }}</td>
            <td class="text-center">
              <router-link :to="'/edit/' + blog.id"
                ><button
                  type="button"
                  class="btn btn-outline-primary text-center"
                >
                  Edit
                </button></router-link
              >
            </td>
            <td class="col-md-1 text-center">
              <button
                @click="deletePost(blog.id)"
                type="button"
                class="btn btn-outline-danger text-center"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer"></div>
    </div>
  </div>
</template>

<script>
import Category from "../../store/Category";
import Place from "../../store/Place";
import axios from "axios";
export default {
  name: "Index",
  props: {
    blogs: Array,
  },
  data() {
    return {
      category: new Category(),
      position: new Place(),
    };
  },

  methods: {
    /**
     * get name category
     * @param id
     * @returns string
     * */
    getCategory(id) {
      let name = "";
      this.category.data.find((data) => {
        if (data.id == id) {
          name = data.name;
        }
      });
      return name;
    },

    /**
     * get name position
     * @param arrayId
     * @returns string
     */
    getPlace(arrayId) {
      let name = "";
      arrayId.forEach((id) => {
        this.position.data.filter((datum) => {
          if (datum.id == id && arrayId.length > 1) {
            name += datum.name + ", ";
          } else if (datum.id == id) {
            name += datum.name;
          }
        });
      });
      return name;
    },

    deletePost(id) {
      // Call API endpoint to delete Blog Post
      axios
        .delete(`http://localhost:3000/blogs/${id}`)
        .then((response) => {
          // remove the element in this.blogs array whose id matches the passed id value.
          this.blogs = this.blogs.filter((blog) => blog.id !== id);
          window.location.href = "/";
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style></style>
