<template>
  <div class="form-group">
    <label>Tieu de :</label>
    <input class="form-control" v-model="blog.title" type="text" />
    <div v-if="error.includes('title')" class="vali">
      Title must be at least 6 characters long.
    </div>
    <div v-if="error.includes('titles')" class="vali">require title</div>
  </div>
 <div class="form-group">
    <label>Tieu de :</label>
    <textarea
      rows="5"
      class="form-control"
      v-model="blog.des"
      type="text"
    ></textarea>
  </div>
  <div class="form-group">
    <label>Tieu de :</label>
    <textarea
      rows="10"
      class="form-control"
      v-model="blog.detail"
      type="text"
    ></textarea>
  </div>
  <div class="form-group">
    <p>Hinh anh :</p>
    <input type="file" />
  </div>
  <div class="form-group mt-2">
    <div><label>Vi tri :</label></div>
    <div
      class="form-check form-check-inline"
      v-for="address in place"
      :key="address.id"
    >
      <input
        class="form-check-input"
        type="checkbox"
        :value="address.id"
        v-model="blog.position"
      />
      <label class="form-check-label" for="inlineCheckbox1">{{
        address.name
      }}</label>
    </div>
  </div>
  <div v-if="error.includes('position')" class="vali">required position</div>
  <div class="form-group">
    <div><label class="">Tieu de : </label></div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="blankRadio"
        id="blankRadio1"
        value="false"
        v-model="blog.public"
        aria-label="..."
      />
      <label for="blankRadio1">YES</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="blankRadio"
        id="blankRadio2"
        value="true"
        v-model="blog.public"
        aria-label="..."
      />
      <label for="blankRadio2">NO</label>
    </div>
    <div v-if="error.includes('public')" class="vali">required public</div>

    <div class="form-group">
      <label>Tieu de :</label>
      <div class="row">
        <div class="col-md-6">
          <select
            class="form-select"
            aria-label="Default select example"
            v-model="blog.category"
          >
            <option v-for="cate in category()" :key="cate.id" :value="cate.id">
              {{ cate.name }}
            </option>
          </select>
          <div v-if="error.includes('category')" class="vali">
            required category
          </div>
        </div>
        <div class="col-md-6">
          <input class="form-control" v-model="blog.data_pubblic" type="date" />
          <div v-if="error.includes('data_pubblic')" class="vali">
            required data_pubblic
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center gap-2 m-3">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-primary">Clear</button>
      </div>
    </div>
  </div>
</template>

<script>
import Category from "../../store/Category";
import Place from "../../store/Place";
export default {
  name: "Creat",
  props: {
    blog: Array,
    error: Array,
  },
  data() {
    return {
      category: new Category(),
      position: new Place(),
    };
  },
  methods: {
    /**
     * Get list Category
     * @returns array
     */

    category() {
      return this.category.data;
    },

    /**
     * Get list Position
     * @returns array
     */
    place() {
      return this.position.data;
    },
  },
};
</script>

<style></style>
