<template>
  <div class="card">
    <div class="card-header">List Blog</div>
    <div class="card-body">
      <label>Title:</label>
      <input class="search" type="text" v-model="query" required />
    </div>
    <div class="bt-search">
      <button
        type="button"
        class="btn btn-outline-success p-2"
        @click="SearchBlog"
      >
        Search
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchForm",
  data() {
    return {
      query: "",
    };
  },
  methods: {
    SearchBlog() {
      //pass this.query to send the search keyword to the parent component
      this.$emit("searchBlog", this.query); 
    },
  },
};
</script>
<style>
.search {
  float: right;
  width: 1100px;
}
.bt-search {
  text-align: center;

  padding-bottom: 15px;
}
</style>
