<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"><img src="" class="img-fluid"></div>
      <div class="col-md-8">
        <div class="px-5 py-2">
          <h1 class="text-white">Blog Manager</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
 name: 'Header',
}
</script>

<style >

</style>