<template>
  <div class="col-md-10 col- p-3 menu">
    <div class="card">
      <div class="card-header">Update Blog</div>
      <ul></ul>
      <div class="card-body">
        <form class="m-2" @submit.prevent="updateBlog">
          <Creat :blog="blog" :error="error" />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { validateBlog } from "../../validate";
import axios from "axios";
import Creat from "../../components/blogs/BLogCreatEdit.vue";
export default {
  name: "Detail",
  components: { Creat },
  data() {
    return {
      blog: [],
      blog: {
        title: "",
        des: "",
        detail: "",
        data_pubblic: "",
        position: [],
        public: "",
        category: "",
      },
      error: [],
    };
  },
  methods: {
    /**
     * Get Blog $id
     * @params id
     * @returns array
     */ 
    getBlog(id) {
      axios.get(`http://localhost:3000/blogs/${id}`).then((res) => {
        console.log(res.data);
        this.blog = res.data;
      });
    },
     /**
     * Upadate Blog
     * @returns array
     */ 
    updateBlog() {
      //Validate
      this.error = validateBlog(this.blog);
      if (this.error.length === 0) {
        axios
          .put(
            `http://localhost:3000/blogs/${this.$route.params.id}`,
            this.blog
          )
          .then((res) => {
            console.log(res.data);
            this.$router.push("/");
            window.location.href = "/";
          });
      }
    },
  },
  created() {
    this.getBlog(this.$route.params.id);
  },
};
</script>

<style>
.vali {
  color: red;
}
</style>
