<template>
 <Index :blogs="blogs" />
</template>
<script>
import axios from 'axios'
import Index from '../../components/blogs/BlogList.vue'
export default {
name:'app',
components:{Index},
data(){
  return{
    blogs:[],
    };
},
  created() {
   this.ListBlog()
  },
  methods:{
     /**
     * Get AllBlog 
     * @returns array
     */ 
    ListBlog(){
       axios
      .get("http://localhost:3000/blogs")
      .then((response) => {
        this.blogs = response.data;
      })
      .catch((e) => {
        this.errors.push(e);
      });
    }
  }
}
</script>

<style>

</style>