<template>
  <div class="col-md-10 col- p-3 menu">
    <div class="card">
      <div class="card-header">New Blog</div>
      <ul></ul>
      <div class="card-body">
        <form class="m-2" @submit.prevent="addBlog">
          <Creat :blog="blog" :error="error" />
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { validateBlog } from "../../validate";
import Creat from "../../components/blogs/BLogCreatEdit.vue";
export default {
  name: "New",
  components: { Creat },
  data() {
    return {
      blog: [],
      blog: {
        title: "",
        des: "",
        detail: "",
        data_pubblic: "",
        position: [],
        public: "",
        category: "",
      },
      error: [],
    };
  },
  methods: {
    /**
     * AdddBlog 
     * @returns array
     */ 
    addBlog() {
      console.log(this.blog);
    //Validate
      this.error = validateBlog(this.blog);
      if (this.error.length === 0) {
        axios.post("http://localhost:3000/blogs", this.blog).then((res) => {
          window.location.href = "/";
        });
      }
    },
  },
};
</script>

<style></style>
