<template>
  <div class="col-md-10 col- p-3 menu">
    <SearchForm @searchBlog="searchBlog" />
    <div class="col-md-12">
      <Index :blogs="blogs" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Index from "../../components/blogs/BlogList.vue";
import SearchForm from "../../components/blogs/BlogSearchForm.vue";
export default {
  name: "Search",
  components: { Index, SearchForm },
  data() {
    return {
      blogs: [],
      query: "",
    };
  },
  // get data when component has been success
  created() {
    // axios
    //   .get("http://localhost:3000/blogs")
    //   .then((response) => {
    //     this.blogs = response.data;
    //   })
    //   .catch((e) => {
    //     this.errors.push(e);
    //   });
    // Reuse searchBlog
    this.searchBlog();
  },
  methods: {
    /**
     * searchBlog
     * @params query
     * @returns array
     */
    searchBlog(query = "") {
      axios
        .get(`http://localhost:3000/blogs?q=${query}`)
        .then((res) => (this.blogs = res.data))
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style></style>
